<section id="content" role="main" class="group multi-page">

  <header class="page-header group">
    <hgroup>
      <h1><span>Guide </span><%= @guide["title"] %></h1>
    </hgroup>
  </header>

  <div class="article-container group">
    <aside>
      <div class="inner">
        <nav role="navigation" class="page-navigation">
          <% if @guide["details"]["video_url"].present? %>
            <div class="alternative-guide video">
              <%video_id = @guide.video_url.scan(/\?v=([A-Za-z0-9_\-]+)/) %>
                <a href="<%= part_path(@guide.slug, 'video',@edition) %>"><div class="video-wrapper"><% if video_id.any? %><img src="https://img.youtube.com/vi/<%=video_id[0][0]%>/1.jpg" width="120" height="96" alt=""><% end %></div><span>Watch <span class="visuallyhidden">the</span> video <span class="visuallyhidden">version of this</span> guide</span></a>
            </div>
          <% end %>
          <ol>
            <% @guide["details"]["parts"].each do |nav_part| %>
              <li <% if @part == nav_part %>class="active"<% end %>>
                <% if @part == nav_part %>
                  <span class="part-label">Part <%= part_number(@guide["details"]["parts"], nav_part) %><span class="visuallyhidden">:</span></span> <span class="part-title"><%= nav_part["title"] %></span>
                <% else %>
                  <a href="<%= nav_part["web_url"] %>" title="Part <%= part_number(@guide["details"]["parts"], nav_part) %>: <%= nav_part["title"] %>">
                    <span class="part-label">Part <%= part_number(@guide["details"]["parts"], nav_part) %><span class="visuallyhidden">:</span></span> <span class="part-title"><%= nav_part["title"] %></span>
                  </a>
                <% end %>
              </li>
            <% end %>
          </ol>
        </nav>
      </div>
    </aside>

    <article role="article" class="group">
      <div class="inner">

        <header>
          <h1><span>Part <%= part_number(@guide["details"]["parts"], @part) %><span class="visuallyhidden">:</span> </span><%= @part["title"] %></h1>
        </header>

        <%= to_govspeak(@part["body"]) %>

        <footer>
          <nav class="pagination" role="navigation">
            <ul class="group">
              <% parts = @guide["details"]["parts"] %>
              <%- if parts.last == @part -%>
                <li class="last">
                  <span>You have reached the end of this guide</span>
                </li>
              <%- else -%>
                <%- if parts.index(@part) > 0 -%>
                  <li class="previous">
                    <% part_before = parts[parts.index(@part)-1] %>
                    <a href="<%= part_before["web_url"] %>" title="Navigate to previous part" rel="prev">
                      <span class="pagination-label">Part <%= part_number(parts, part_before) %></span> <span class="pagination-part-title"><%= part_before["title"] %></span></a>
                  </li>
                <%- else -%>
                  <li class="first">
                    <span>You are at the beginning of this guide</span>
                  </li>
                <%- end -%>
                <%- if parts.size == parts.index(@part) -%>
                  <li class="last">
                    <span>You have reached the end of this guide</span>
                  </li>
                <%- else -%>
                  <li class="next">
                    <% part_after = parts[parts.index(@part)+1] %>
                    <a href="<%= part_after["web_url"] %>" title="Navigate to next part" rel="next"><span class="pagination-label">Part <%= part_number(parts, part_after) %></span> <span class="pagination-part-title"><%= (part_after["title"]) %></span></a>
                  </li>
                <%- end -%>
              <%- end -%>
            </ul>
          </nav>
        </footer>

      </div>
    </article>
    <%= render 'publication_metadata', :publication => @guide, :artefact => @artefact, :api_links => { 'application/json' => @guide["id"] } %>

  </div>

</section>

<div id="related-items"></div>

<% content_for :extra_headers do %>
  <%- if parts.index(@part) > 0 -%>
    <link rel="prev" href="<%= part_before %>" />
  <%- end -%>
  <%- unless parts.last == @part -%>
    <link rel="next" href="<%= part_after %>" />
  <%- end -%>
<% end %>
