<%- presenter = TransactionPresenter.new(@publication) -%>

<main id="content" role="main" class="group">

  <header class="page-header group">
    <div style="padding-bottom:10px;">
      <h1 style="padding-top: 31px;"><%= @publication.title %></h1>
    </div>
    <a class="skip-to-related" href="#related"><%= t 'common.not_what_youre_looking_for' %> ↓</a>
  </header>
	<div class="article-container group">
  	<article role="article" class="group">
     <div class="inner">

      <section class="intro">
        <div class="get-started-intro"><%= raw @publication.introduction %></div>
        <p class="visuallyhidden"><a href="#what-you-need-to-know"><%= t 'formats.transaction.what_you_need_to_know' %></a></p>

        <ul style="list-style:none; margin-left:-1.25em; margin-top:1.5em; margin-bottom: 3.25em;">
          <li style="font-size:16px;"><a href="#">Before you start</a></li>
          <li style="font-size:16px;"><a href="#">Key information</a></li>
          <li style="font-size:16px;"><a href="#">Cost</a></li>
          <li style="font-size:16px;"><a href="#">Other ways of applying</a></li>
        </ul>

        <p id="get-started" class="get-started group">
          <a href="<%= @publication.link %>" rel="external" class="button" <% if presenter.open_in_new_window? %>target="_blank"<% end %>><%= t 'formats.transaction.start_now' %></a>
          <% if @publication.will_continue_on.present? %>
            <span class="destination"> <%= t 'formats.transaction.on' %> <%= @publication.will_continue_on %></span>
          <% end %>
        </p>
      </section>

      <section class="more">
        <h2>Before you start</h2>
        <!--<%- if presenter.multiple_more_information_sections? -%>
          <%= render :partial => 'transaction_additional_information_tabbed', :locals => {:transaction => @publication, :presenter => presenter } %>
        <%- else -%>
          <%= render :partial => 'transaction_additional_information_single', :locals => {:transaction => @publication, :presenter => presenter } %>
        <%- end -%>-->

        <p class="visuallyhidden"><a href="<%= @publication.link %>" rel="external">Get started on <%= @publication.will_continue_on %></a></p>
      </section>

     </div>
   </article>
  <%= render 'publication_metadata', :publication => @publication, :api_links => { 'application/json' => publication_api_path(@publication, :edition => @edition) } %>
</div>

</main>

<div id="related-items"></div>
