<% content_for :extra_javascript do %>
  <% if publication.slug =~ /car-tax-disc-vehicle-licence/ %>
    <%= javascript_include_tag 'trackers/ab-testing.js' %>
  <% end %>
<% end %>

<section id="content" role="main" class="group">

  <header class="page-header group">
    <hgroup>
     <h1><span>Service</span> <%= publication.title %></h1>
    </hgroup>
  </header>
	<div class="article-container group">
  	<article role="article" class="group">
     <div class="inner">

      <section class="intro">
        <div class="get-started-intro"><%= to_govspeak(publication.introduction) %></div>
        <p class="visuallyhidden"><a href="#what-you-need-to-know">What you need to know</a></p>
        <% if publication.slug =~ /car-tax-disc-vehicle-licence/ %><script type="text/javascript">utmx_section("Get started button")</script><noscript rel="placeholder"><% end %>
        <p id="get-started" class="get-started group">
           <a href="<%= publication.link %>" rel="external" class="button">
             <span class="button-content"><span class="call-to-action">Start now</span> <!-- this space is important --><%
               if publication.will_continue_on.present?
                 %><span class="destination">on <%= publication.will_continue_on %></span><%
               end
             %></span>
           </a>
        </p>
        <% if publication.slug =~ /car-tax-disc-vehicle-licence/ %></noscript><% end %>
      </section>

      <section class="more">
        <%- presenter = TransactionPresenter.new(publication) -%>
        <%- if presenter.multiple_more_information_sections? -%>
          <%= render :partial => 'transaction_additional_information_tabbed', :locals => {:transaction => publication, :presenter => presenter } %>
        <%- else -%>
          <%= render :partial => 'transaction_additional_information_single', :locals => {:transaction => publication, :presenter => presenter } %>
        <%- end -%>

        <p class="visuallyhidden"><a href="<%= publication.link %>" rel="external">Get started on <%= publication.will_continue_on %></a></p>
      </section>

     </div>
   </article>
  <%= render 'publication_metadata', :publication => publication, :artefact => artefact, :api_links => { 'application/json' => publication_path(publication.slug, :edition => edition, :format => :json) } %>
</div>

</section>

<div id="related-items"></div>
